<?xml version="1.0" ?>
<!-- Root node for Magento configuration files -->
<config>
    <!-- modules node provides basic information about the module -->
    <modules>
        <!-- This node's name has to be the same as module's full name
        including namespace -->
        <Octopush_OctopushSms>
            <!-- Current version of module -->
            <version>1.0.2</version>
        </Octopush_OctopushSms>
    </modules>
    <global>
        <helpers>
            <octopushsms>
                <class>Octopush_OctopushSms_Helper</class>
            </octopushsms>
        </helpers> 
        <blocks>
            <octopushsms>
                <class>Octopush_OctopushSms_Block</class>
            </octopushsms>
        </blocks>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <Octopush_OctopushSms_Model_Observer_Createaccount>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>createAccountObserve</method>
                    </Octopush_OctopushSms_Model_Observer_Createaccount>
                </observers>
            </adminhtml_customer_save_after>
            <customer_save_after>
                <observers>
                    <createaccount>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>createAccountObserve</method>
                    </createaccount>
                </observers>
            </customer_save_after>
            <model_save_before>
                <observers>
                    <renewpassword>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>forgotPasswordObserve</method>
                    </renewpassword>
                </observers>
            </model_save_before>
            <sales_order_save_after>
                <observers>
                    <statechange>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>orderStateChangeObserve</method>
                    </statechange>
                </observers>
            </sales_order_save_after>
            <sales_order_shipment_track_save_after>
                <observers>
                    <shipmenttrack>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>shipmentTrackObserve</method>
                    </shipmenttrack>
                </observers>
            </sales_order_shipment_track_save_after>
            <checkout_submit_all_after>
                <observers>
                    <lowstock>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>checkoutSubmitAllAfterObserve</method>
                    </lowstock>
                </observers>
            </checkout_submit_all_after>
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <receivemessage>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>controllerActionPostdispatchContactsIndexPostObserve</method>
                    </receivemessage>
                </observers>
            </controller_action_postdispatch_contacts_index_post>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <alertinstock>
                        <class>octopushsms/observer_observer</class>
                        <method>checkStockChangeObserve</method>
                    </alertinstock>
                </observers>
            </cataloginventory_stock_item_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <lowstock>
                        <type>singleton</type>
                        <class>octopushsms/observer_observer</class>
                        <method>cataloginventoryStockItemSaveAfterObserve</method>
                    </lowstock>
                </observers>
            </cataloginventory_stock_item_save_after>                      
        </events>
        <models>
            <octopushsms>
                <class>Octopush_OctopushSms_Model</class>
                <resourceModel>octopushsms_mysql4</resourceModel>
            </octopushsms>
            <octopushsms_mysql4>
                <class>Octopush_OctopushSms_Model_Mysql4</class>
                <entities>
                    <test>
                        <table>octopush_test</table>
                    </test>
                    <setting>
                        <table>octopushsms_setting</table>
                    </setting>
                    <phoneprefix>
                        <table>octopushsms_phone_prefix</table>
                    </phoneprefix>
                    <campaign>
                        <table>octopushsms_campaign</table>
                    </campaign>
                    <recipient>
                        <table>octopushsms_recipient</table>
                    </recipient> 
                    <message>
                        <table>octopushsms_message</table>
                    </message> 
                </entities>
            </octopushsms_mysql4>
        </models>
        <!-- permet au module de lire et ecrire -->
        <resources>
            <!-- connection pour ecrire -->
            <octopushsms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </octopushsms_write>
            <!-- connection pour lire-->
            <octopushsms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </octopushsms_read>
            <octopush_octopushsms_setup>
                <setup>
                    <module>Octopush_OctopushSms</module>
                </setup>
            </octopush_octopushsms_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <routeradmin>
                <use>admin</use>
                <args>
                    <module>Octopush_OctopushSms</module>
                    <frontName>adminoctopushsms</frontName>
                </args>
            </routeradmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <octopushsms>
                    <file>octopushsms.xml</file>
                </octopushsms>
            </updates>
        </layout>
        <menu>
            <octopushsms translate="title" module="adminhtml">
                <title>Send SMS</title>
                <sort_order>100</sort_order>
                <children>
                    <items>
                        <title>Messages</title>
                        <sort_order>0</sort_order>
                        <action>routeradmin/adminhtml_index/messages</action>
                    </items>
                    <items1>
                        <title>Settings</title>
                        <sort_order>1</sort_order>
                        <action>routeradmin/adminhtml_index/index</action>
                    </items1>
                    <items2>
                        <title>Campaigns</title>
                        <sort_order>2</sort_order>
                        <action>routeradmin/adminhtml_index/campaign</action>
                    </items2>
                    <items3>
                        <title>History</title>
                        <sort_order>3</sort_order>
                        <action>routeradmin/adminhtml_index/history</action>
                    </items3> 
                    <items4>
                        <title>News</title>
                        <sort_order>4</sort_order>
                        <action>routeradmin/adminhtml_index/news</action>
                    </items4>              
                </children>
            </octopushsms>
        </menu>
        <translate>
            <modules>
                <Octopush_OctopushSms>
                    <files>
                        <default>Octopush_OctopushSms.csv</default>
                    </files>
                </Octopush_OctopushSms>
            </modules>
        </translate>
    </adminhtml>    
    <crontab>
        <jobs>
            <daily_report_sms>
                <schedule>
                    <cron_expr>0 8 * * *</cron_expr>
                </schedule>
                <run>
                    <model>octopushsms/observer_observer::dailyReportCron</model>
                </run>
            </daily_report_sms>
        </jobs>
    </crontab>
</config>

